* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  width: 100vw;
  height: 100vh; }
  body a,
  body a:visited {
    color: #1e2028;
    text-decoration: none; }

header {
  background-color: #a0e7e5;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header button {
    width: 80px;
    height: 30px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffaebc;
    color: #1e2028; }
  header .app-name {
    color: #1e2028;
    font-family: "Goldman", cursive;
    margin-left: 15px;
    letter-spacing: 1px; }
  header .search-bar {
    height: 30px;
    width: 400px;
    background-color: #a0e7e5;
    border: 2px solid #ffaebc;
    border-radius: 6px;
    text-align: center; }
  header .login-section {
    margin-right: 15px; }
    header .login-section button {
      border: 2px solid #ffaebc;
      background-color: #a0e7e5; }
  @media screen and (max-width: 720px) {
    header {
      font-size: 0.8rem; }
      header .app-name,
      header .login-section {
        margin: 0 7px; }
      header .search-section > button {
        display: none; }
      header .search-bar {
        width: 200px; } }
  @media screen and (max-width: 400px) {
    header {
      font-size: 0.8rem;
      width: 100%;
      justify-content: center; }
      header .app-name {
        margin-right: 10px;
        margin-left: -20px; }
      header .search-bar {
        width: 100px;
        margin: none; }
      header .login-section {
        margin: none; } }
  @media screen and (min-width: 1200px) {
    header .app-name,
    header .login-section {
      margin: 0 150px; } }

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
  width: 350px;
  height: 300px;
  border-radius: 20px; }
  .login-container h2 {
    margin: 20px;
    text-transform: uppercase;
    font-size: 1.7rem; }
  .login-container input {
    background-color: #b4f8c8;
    width: 75%;
    height: 40px;
    text-align: center;
    border: 2px solid #ffaebc;
    border-radius: 6px;
    margin: 7px 0; }
  .login-container button {
    width: 75%;
    height: 40px;
    margin: 7px;
    background-color: #ffaebc;
    border-radius: 7px;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 2px; }

.movielist-component,
.search-results-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0; }

.movielist-container,
.search-results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .movielist-container > h2,
  .search-results-container > h2 {
    letter-spacing: 2px;
    font-size: 1.6rem;
    margin: 15px; }
  @media screen and (min-width: 436px) {
    .movielist-container,
    .search-results-container {
      flex-direction: column; } }

.movie-item {
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #a0e7e5;
  padding: 20px;
  border-radius: 10px;
  width: 450px; }
  .movie-item img {
    width: 150px;
    height: 220px;
    background-color: black;
    border-radius: 4px; }
  .movie-item .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px; }
    .movie-item .details h2 {
      font-size: 1.2rem;
      width: 200px;
      margin-bottom: 32px; }
    .movie-item .details button {
      width: 200px;
      height: 40px;
      margin: 6px 0;
      font-size: 1rem;
      border: 2px solid #ffaebc;
      border-radius: 5px;
      background-color: #a0e7e5; }
    .movie-item .details .btn-main {
      background-color: #ffaebc; }
  @media screen and (max-width: 450px) {
    .movie-item {
      width: 80vw;
      padding: 5px 10px;
      margin: none; }
      .movie-item img {
        width: 100px;
        height: 140px;
        margin-left: 10px; }
      .movie-item .details h2 {
        font-size: 0.9rem;
        width: 140px;
        margin-bottom: 20px; }
      .movie-item .details button {
        width: 140px;
        height: 30px;
        font-size: 0.8rem;
        text-align: center; } }

.movie-details-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; }

.movie-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 400px; }
  .movie-component img {
    margin: 10px 0;
    width: 300px;
    height: 450px; }
  .movie-component p,
  .movie-component h2 {
    justify-self: center;
    margin: 20px 0;
    max-width: 320px;
    word-wrap: break-word; }
  .movie-component button {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #ffaebc; }
  @media screen and (max-width: 768px) {
    .movie-component p {
      max-width: 600px; } }
  @media screen and (max-width: 375px) {
    .movie-component p,
    .movie-component img,
    .movie-component h2 {
      max-width: 85vw; } }
